<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <td><p style="margin-top:10px"> Hello your account has been <%= @action %> by <%= @user %> </p></td>
  </body>
</html>